*{
    margin: 0;
    padding: 0;
}
#banner{
    background-color: #62AFFF;
    height: 80px;
    font-size: 120%;
    text-align: center;
}
#center{
    display: flex;
    flex-direction: row;
}
#left{
    background-color: #44D6E8;
    height: 450px;
    width: 30%;
    font-size: 120%;
}
#mid{
    height: 450px;
    width: 40%;
    text-align: center;
}
#right{
    background-color: #44D6E8;
    height: 450px;
    width: 30%;
    font-size: 120%;
    text-align: center;
}
#footer{
    background-color: #62AFFF;
    height: 50px;
    text-align: center;
}
table{
    margin-left: 50px;
    border: 1px solid yellow;
    border-collapse: collapse;
}
td{
    border: 1px solid yellow;
    padding: 20px;
    text-align: center;
    font-size: 120%;
}
tr:hover{
    color: yellow;
}
img,h3{
    margin-top: 100px;
}
img{
    float: left;
}
input{
    margin-top: 10px;
}