body{
    background-image: url("tlo2.gif");
    background-size: cover;

    display: flex;
    justify-content: center;
}

#main{
    width: 70vw;
    height: 70vh;
    background-image: url("tlo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15vh;
    border-radius: 10%;
    /* box-shadow: 5px 10px white; */
    box-shadow: -1em 0 0.4em rgb(240, 185, 208), 1em 0 0.4em rgb(240, 178, 226);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#g1{
    width: 20vw;
    height: 20vh;
    background-color: rgb(240, 178, 226);
    border-radius: 50%;
    box-shadow: -0.5em 0 0.4em rgb(255, 255, 255), 0.5em 0 0.4em rgb(255, 255, 255);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#wynik{
    width: 20vw;
    height: 30vh;
    background-color: rgb(234, 103, 177);
    border-radius: 5%;
    box-shadow: -0.5em 0 0.4em rgb(255, 255, 255), 0.5em 0 0.4em rgb(255, 255, 255);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#g2{
    width: 20vw;
    height: 20vh;
    background-color: rgb(240, 185, 208);
    border-radius: 50%;
    box-shadow: -0.5em 0 0.4em rgb(255, 255, 255), 0.5em 0 0.4em rgb(255, 255, 255);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
}

h1.blur{ 
    text-shadow: 1px 1px 15px rgb(184, 71, 125);
}

h1:hover{
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
    transition: text-shadow .8s;
    color: #77394c;
    transition: color .8s;
  }

  input[type=number]{
    color: rgb(184, 71, 125);
    background-color: rgb(232, 189, 217);
    text-align: center;
    border-radius: 30%;
    border: 1px solid white;
  }

button{
    color: rgb(184, 71, 125);
    text-align: center;
    border: 1px solid white;
  }

#win, #wynikk{
    color: white;
    text-shadow: 1pzx 1px 10px rgb(49, 4, 25);
    
}

img {
    width: 8vh;
}
#resultImages {
    display: flex;
    flex-direction: row;
    
}
#result1 {
    display: flex;
    padding: 5px;
    animation: kostka1 5s infinite linear;
}
#result2 {
    display: flex;
    padding: 5px;
    animation: kostka2 5s infinite linear;
}

@-webkit-keyframes kostka1 {
    0% {
      left: 0;
    }
    50% {
      right: 0;
    }
    100% {
      left: 0;
     -webkit-transform: scaleX(-1);
    }
  }
  @-webkit-keyframes kostka2 {
    100% {
      left: 0;
    }
    50% {
      right: 0;
    }
    0% {
      left: 0;
     -webkit-transform: scaleX(-1);
    }
  }