body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#main{
    display: flex;
    flex-direction: column;
}

#header{
    background-color: darkgreen;
    color: white;
    padding: 5px;
}

#center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left{
    background-color: PaleGreen;
    height: 500px;
    width: 30%;
}

#right{
    background-color: Honeydew;
    height: 500px;
    width: 70%;
    padding-top: 100px;
}

#footer{
    background-color: PaleGreen;
    padding: 3px;
}

table,td{
    border: darkgreen 1px solid;
}

table,th{
    margin: auto;
    width: 95%;
}

td,th{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

input[type="button"]{
    background-color: darkgreen;
    color: white;
    padding: 5px;
}


input[type="button"]:hover{
    background-color: honeydew;
    color: darkgreen;
}