body {
    background-image: url(szczurki.png);
}
#main {
    background-color: #e8e8e8;
    width: 800px;    
    border: 2px solid black;
    padding: 50px 40px 50px 40px;
    font-size: 12pt;
    font-family: Verdana;
    color: black;
    clear:both;
    
}