body {
    background-image: url(misie.jpg);
}
.calculator {
    background-color: rgb(175, 108, 141);
    width: 350px;
    height: 500px;
    margin-left: 40%;
    margin-top: 13%;
    border-radius: 10px;   /*  zaokraglenie krawedzi */
    
}
#result {
    width: 245px;
    height: 40px;
    margin-left: 8px;
    margin-bottom: 2px;
    color: white;
    font-size: 170%;
}
#przycisk {
    background-color: rgb(241, 178, 226);
    height: 91px;
    width: 70px;
    font-size: 27px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 8px;
    
}

#st0pka {
    clear:both; /*  ustawia diva pod ostatnim divem, zjezdza do linijki nizej niz poprzednie divy */
    margin-top: 9%; /*  padding sprawia ze robi sie "miejsce" od srodka a margin "od zewnatrz" */
    text-align: center;
    width: 100%;
    height: 50px;
    color: rgb(218, 148, 197);
    background-color: rgb(255, 255, 255);
    
}
#przycisk:hover {
    background-color: rgb(231, 213, 180); /*  najechanie kursorem (hover) */
}


#kolumna1 {
    float:left; /*  <---- cala kolumna idzie do lewej strony "przykleja sie" */
}
#kolumna2 {
    float:left; /*  <---- cala kolumna idzie do lewej strony "przykleja sie" */
}
#kolumna3 {
    float:left; /*  <---- cala kolumna idzie do lewej strony "przykleja sie" */
}
#kolumna4 {
    float:left; /*  <---- cala kolumna idzie do lewej strony "przykleja sie" */
}
#kolumncaC {
    float:left; /*  <---- cala kolumna idzie do lewej strony "przykleja sie" */
}


