body{
    background-color: rgb(232, 176, 219);
    font-family: Arial;
    text-align: center;
}

#text{
    padding-top: 1%;
    font-size: 50px;
    color: white;
}

#main{
    margin: 5%;
    border-radius: 30px;
    border: black solid 1px;
}

