.ramka{
    width: 1200px;
    height: 700px;
    overflow: hidden;
    position: relative;
}
.tlo{
    width: 120%;
    height: 100%;
    left: 0;
}
.ramka img{
    position: absolute;
}
.ahri{
    height: 600px;
    bottom: -100px;
    position: absolute;
}
.lisica{
    height: 200px;
    top: 510px;
    left: 87%;
}