*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(236, 163, 212);
    font-family: 'League Spartan';
}
#container{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#board{
    display: flex;
    flex-direction: column;
}
.column{
    display: flex;
    flex-direction: row;
}
.box{
    height: 18vh;
    width: 18vh;
    border: 1px solid rgb(255, 208, 137);
}
#container2{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mode{
    display: flex;
    flex-direction: row;
}
#play{
    display: flex;
    flex-direction: column;
}
#two_p{
    margin: 3vh;
}
#one_p{
    margin: 3vh;
}
#otherPlayer{
    margin: 1.5vw;
}
#PC{
    margin: 1.5vw;
}
#statusText{
    margin-top: 3vh;
    color: rgb(190, 95, 162);
    font-size: 34px;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    transition: all .2s ease-in-out;
}
#statusText:hover{
    transform: scale(1.1);
}
#tekst{
    height: 2vh;
    margin-bottom: 2vh;
}


/* INPUTY */
input[type=button]{
    border-radius: 5%;
    color: blanchedalmond;
    background-color: rgb(190, 95, 162);
    width: 20vh;
    height: 5vh;
    font-size: 1.5rem;
    border: 0px;
    transition: all .2s ease-in-out;
}
input[type=button]:hover{
    color: rgb(250, 207, 230);
    box-shadow: 1px 1px 7px rgb(255, 255, 255);
    transform: scale(1.1);
}

/* DIVY Z WYNIKAMI */
#wyniki{
    height: 12vh;
    width: 70vh;
    display: flex;
    margin-top: 2.5vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 7px rgb(255, 255, 255);
}
#obecna{
    display: flex;
    width: 32vh;
    height: 9vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 7px rgb(116, 60, 118);
    margin: 1vh;
    color:rgb(255, 201, 247);
    text-shadow: 1px 1px 3px rgb(244, 39, 182);
}
#ciacha{
    display: flex;
    width: 32vh;
    height: 9vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 7px rgb(116, 60, 118);
    margin: 1vh;
    color:rgb(255, 201, 247);
    text-shadow: 1px 1px 3px rgb(244, 39, 182);
}
#ciacha:hover,#obecna:hover{
    color:rgb(252, 230, 249);
    text-shadow: 1px 1px 3px rgb(255, 82, 203);
}
#obecna2{
    display: flex;
    width: 32vh;
    height: 9vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 7px rgb(116, 60, 118);
    margin: 1vh;
    color:rgb(253, 201, 255);
    text-shadow: 1px 1px 3px rgb(248, 44, 255);
}
#ciacha2{
    display: flex;
    width: 32vh;
    height: 9vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 7px rgb(116, 60, 118);
    margin: 1vh;
    color:rgb(253, 201, 255);
    text-shadow: 1px 1px 3px rgb(248, 44, 255);
}
#ciacha2:hover,#obecna2:hover{
    color:rgb(254, 220, 255);
    text-shadow: 1px 1px 3px rgb(250, 106, 255);
}
#X,#O,#X2,#O2{
    padding: 0.5vh;
    font-size: 26px;
}
#wyswietlanieCiastkaX,#wyswietlanieCiastkaO,#wyswietlanieCiastkaXpc,#wyswietlanieCiastkaOpc{
    padding: 0.25vh;
    font-size: 26px;
}


/* BORDERY PÓL */
.one{
    border-top: 0px;
    border-left: 0px;

    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}
.two{
    border-top: 0px;

    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}
.three{
    border-top: 0px;
    border-right: 0px;

    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}
.four{
    border-left: 0px;

    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}
.five{
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}
.six{
    border-right: 0px;

    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}
.seven{
    border-bottom: 0px;
    border-left: 0px;

    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}
.eight{
    border-bottom: 0px;

    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}
.nine{
    border-bottom: 0px;
    border-right: 0px;

    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(104, 37, 84);
    font-size: 42px;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    box-shadow: 0 0 5px 0 rgb(255, 255, 255);
}