
:root {
    --main-color: #2F2A28;
    --second-color: #64FC73;
    --text-color: #f7f7f7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

h1 {
    font-size: 35px;
    font-weight: bold;
    margin-right: 5vw;
}

#container {
    width: 100vw;
    height: 100vh;
}

header, footer, main {
    background-color: var(--main-color);
}

header, footer {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    height: 17vh;
    
}

main {
    width: 100vw;
    height: 60vh;
    border-top: 2px solid var(--second-color);
    border-bottom: 2px solid var(--second-color);
    
}

main section {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    height: calc(60vh - 20px);
}

table {
    padding: 30px;
}

tr, td, th {
    border: 1px solid var(--second-color);
    padding: 10px;
}